/Aulas do Youtube/Aula 02-05 +Prati Abril Programação - Alessandro.mp4
/Aulas do Youtube/Aula 09-05 +prati Abril Introducao a programação - Alessandro.mp4
/Aulas do Youtube/Aula 16-05 +Prati Abirl - Programação - Alessandro.mp4
/Aulas do Youtube/Aula 23-05 +Prati - Programação Abril - Alessandro.mp4
/Aulas do Youtube/Aula 25-04 Aula Inaugural +praTi Ciclo Abril_22.mp4
/Semana 1 - Introdução a variáveis e comando if/Video-Aula
/Semana 2 - Strings, tipos, comando while/Video-Aula
/Semana 3 - Tipo boolean e novos operadores/Video-Aula
/Semana 4 - Funções e Arrays/Video-Aula
/Semana 5 - Introdução a HTML com Javascript/Video-Aula
/Semana 6 - Estrutura de dados em JavaScript/Video-Aula
Lógica de Programação - Aprendendo a Programar.pdf
.vscode/